* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    font-family: 'Arial', sans-serif;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.names-section {
    width: 400px;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid #555;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: white;
}

.name-item {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
}

.username {
    font-size: 0.9rem;
    color: #aaa;
}

.green {
    color: #00ff00; /* Green color */
}

.orange {
    color: #ff8c00; /* Orange color */
}

